<a href="https://colab.research.google.com/github/19PA1A0504/ensemble-methods-assignment/blob/master/Copy_of_Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
 import numpy as np
 import pandas as pd
 from sklearn.ensemble import RandomForestClassifier
 from sklearn.tree import DecisionTreeClassifier
 from sklearn.model_selection import train_test_split
 from sklearn.ensemble import AdaBoostClassifier
 from sklearn.metrics import mean_squared_error

In [2]:
data=pd.read_csv("diabetes.csv")
data

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

**data.isna().any() is a function that returns a boolean value for each coloumn. If there is at least one missing value in coloumn, the result is **True**.

In [20]:
data.isna().any()

Pregnancies                 False
Glucose                     False
BloodPressure               False
SkinThickness               False
Insulin                     False
BMI                         False
DiabetesPedigreeFunction    False
Age                         False
Outcome                     False
dtype: bool

In [3]:
data.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

*** Here x represents attributes and y represents lables. Labels are also called as targets.

In [0]:
x=data[["Pregnancies","Glucose","BloodPressure","SkinThickness","Insulin","BMI","DiabetesPedigreeFunction","Age"]]

In [0]:
y=data[["Outcome"]]

In [0]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

                           #RandomForestClassifier#
**It is an ensemble learning method for classification and regression. Random forest is a supervised learning logarithm that randomly create or merges a multiple decisions trees into one forest.

In [0]:
clf=RandomForestClassifier(n_estimators=50)

* Here estimators reveals that how many iterations or that many decision trees are built in the data.

In [8]:
clf.fit(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=50,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [0]:
y_pred=clf.predict(x_test)

In [10]:
print(mean_squared_error(y_test,y_pred))

0.2532467532467532

                         #DecisionTreeClassifier#
**It is one type of tree in which internal nodes are labled by features.
It is useful in data exploration. It is one of the fatest way to 
identify to significant varaiables.

In [0]:
clf1=DecisionTreeClassifier()

In [12]:
clf1=clf.fit(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

In [0]:
y_pred1=clf.predict(x_test)

In [14]:
print(mean_squared_error(y_test,y_pred1))

0.2792207792207792

                        #AdaBoostClassifer#
**Adaboost is an iterative alogorithm. It combines these weak classifiers to form a stronger final classifier.

In [0]:
clf2=AdaBoostClassifier()

In [16]:


clf2=clf.fit(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

In [0]:
y_pred2=clf.predict(x_test)

In [18]:
print(mean_squared_error(y_test,y_pred2))

0.2662337662337662

                                  #conclusion#
DecisionTreeClassifier performs well than adaboostclassifier and RandomForestClassifier because the mean squared error is more in decision tree classifier. By this data set the decission tree classifier is performing well but we cannot say constantly that which one is more superior because there are many ensembles. Better classifier is depending upon the nature of the data set.So it varies from one data set to the other.